@CHARSET "UTF-8";

.wiki-title-wrapper {
	margin-bottom : 2rem;
}
.wiki-title {
	font-size : 3rem;
	font-weight : bold;
}

.wiki-btn-group {
	float : right;
}

.wiki-content-wrapper {
}