@CHARSET "UTF-8";

html, body, th, td, input, select, textarea, button, div, p, h1, h2, h3, h4, h5, h6, a, span, li{
	font-family: '나눔바른고딕','나눔고딕','NanumGothic','맑은고딕','Malgun Gothic',sans-serif;
		
}
html,body{
	height : 100%;
}
/*    **************************    */

.sidebar {
	float : right!important;
	width : 13rem;
	margin : 1rem 1rem 1rem 0;
	border : solid 1px black;
	background-color : white;
	padding : 3px;
}
.foot-wrapper {
	padding: 0.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}

.foot {
	max-width: 1000px; 
	margin: 0 auto;
}

/* ******************************* */
.time{
	font-size: 0.2rem;
	
}
p{
	line-height : 160%;
}